<%- include('partials/header') %>

<h2>Students</h2>

<form method="POST" class="row g-3 mb-4">
  <div class="col-md-4">
    <input class="form-control" name="name" placeholder="Name" required>
  </div>
  <div class="col-md-3">
    <input class="form-control" name="roll" placeholder="Roll Number" required>
  </div>
  <div class="col-md-3">
    <input class="form-control" name="email" placeholder="Email" required>
  </div>
  <div class="col-md-2">
    <button class="btn btn-success w-100">Add Student</button>
  </div>
</form>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Roll</th>
      <th>Email</th>
      <th>Report</th>
    </tr>
  </thead>
  <tbody>
    <% students.forEach(s => { %>
      <tr>
        <td><%= s.name %></td>
        <td><%= s.roll %></td>
        <td><%= s.email %></td>
        <td><a href="/report/<%= s.id %>" class="btn btn-sm btn-outline-info">View</a></td>
      </tr>
    <% }) %>
  </tbody>
</table>

<%- include('partials/footer') %>

